
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background : linear-gradient(to bottom , rgb(225, 217, 217) , rgb(210, 216, 210))
}

.navbar
{
    position: sticky;
    top: 0;
    height: 70px;
}
.navbar #Home
{
    font-weight: 700;
}

.navbar ul
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.navbar ul a{
    text-decoration: none;
    font-size: 23px;
    color: black;
    border-radius: 10px;
}

.navbar ul a:hover{
    cursor: pointer;
}
.navbar h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    padding-right: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 2%;
    width: 300px;
}

.content input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.249);
    border-radius: 10px;
    box-sizing: border-box;
}

.content button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.content button:hover {
    cursor: pointer;
    background-color: #45a049;
}

.content button:active
{
    background-color: #58a566;
}
